.lt-position-relative {
  position: relative;
}
.lt-picture-info-wrapper {
  position: absolute;
  top:20px;
  left:5px;
  background: $lt-bg;
  color: $lt-color;
  border: 1px $lt-color solid;
  padding: 6px;
  font-size: small;
  border-radius: 4px;
  summary {
    white-space: nowrap;
    font-size: 110%;
  }

  table {
    border-top:1px solid $lt-color;
    width:100%;
    th, td {
      padding:2px 4px;
      text-align: left;
      vertical-align: top;
      white-space: nowrap;
    }
    th {
      font-weight: bold;
    }
    tr:not(:last-child) {
      border-bottom:1px dotted $lt-color;
    }
  }
}
