/*
  <div id="lt-wrapper">
    <div class="lt-inner-wrapper">
      <div class="lt-content">
        <div role="button" class="lt-hide-show">Nascondi</div>
      </div>
      <div class="lt-brkpt">&#x2732;</div>
    </div>
  </div>
*/
#lt-wrapper {
  font-family: sans-serif;
  font-size: small;
  position: fixed;
  z-index: 9999;
  top: 4px;
  left: 0;
  color: $lt-color;
  background: transparent;
  transition:opacity .3s linear;

  .lt-inner-wrapper{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .lt-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border:1px solid $lt-color;
    border-bottom-right-radius:8px;

    overflow: hidden;
    width: 100vw;
    max-width:14rem;
    background: $lt-bg;

    > div {
      padding: 6px;
      width:100%;

      &:not(:last-child) {
        border-bottom:2px solid $lt-color;
      }
    }
  }

  .lt-content, .lt-brkpt {
    border-width: 2px;
    border-color: $lt-color;
    border-style: solid solid solid none;
  }

  .lt-content>div,
  .lt-brkpt {
    flex: 0 1 auto;
  }

  .lt-brkpt {
    box-sizing: border-box;
    font-size: small;


    font-weight: bold;
    padding: 1px 6px 1px 3px;
    color:$lt-color;
    border-radius: 0 1em 1em 0;
    background: $lt-bg;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    height:1.5em;


    &:hover {
      color: $lt-bg;
      background: $lt-color;
    }
  }

  dl {
    margin:0;
    dt {
      font-weight: bold;
      border:none;
    }
    dd {
      padding-left:1rem;
      &:not(:last-child) {
        border-bottom:1px dotted $lt-color;
        margin-bottom:.4rem;
        padding-bottom:.2rem;
      }
    }
  }


  &.lt-collapsed .lt-content {
    display: none;
  }

  &.lt-hidden {
    opacity: 0;

    &:hover {
      opacity: .8;
    }
  }
  .heading {
    font-weight: bold;
    font-size: 110%;
  }
  label {
    color:$lt-color;
  }
  button {
    border:1px solid $lt-color;
    border-radius:3px;
    padding: 2px 6px;
    margin-right:6px;
    background: $lt-bg;
    color:$lt-color;
    cursor: pointer;
    &:hover {
      background: $lt-color;
      color: $lt-bg;
    }
  }
  input[type=checkbox] {
    margin-right:6px;
  }

  @media print {
    display: none;
  }
} // end #lt-wrapper
